#modal-edite-card {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(13, 19, 47, 0.6);
    position: fixed;
    left: 0;
    top: 0;

    justify-content: center;
    align-items: center;
}

#modal-edite-card.active {
    display: flex;
}

#form-modal-edite-card {
    width: 550px;
    height: 700px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#form-modal-edite-card input {
    margin-bottom: 20px;
    width: 80%;
    font-size: 30px;
    padding: 10px;
}

#form-modal-edite-card h3 {
    margin: 15% 0 20px 0;
    font-size: 45px;
}

#modal-edite-content input {
    margin-bottom: 10px;
}
#button-close-edite-card {
    width: 35px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#button-close-edite-card > img {
    width: 100%;
}

#btn-edite-content {
    margin-top: 10%;
    width: 70%;
    font-size: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: gray;
    border: none;
}

#btn-edite-content:hover {
    cursor: pointer;
}

.title-edite,
.url-edite {
    font-size: 30px;
}