#modal-delete-card {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(13, 19, 47, 0.6);
    position: fixed;
    left: 0;
    top: 0;

    justify-content: center;
    align-items: center;
}

#modal-delete-card.active {
    display: flex;
}

#form-modal-delete-card {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


#form-modal-delete-card h3 {
    text-align: center;
    margin: 20% 5px 10px 5px;
    font-size: 35px;
}


#button-close-delete-card {
    width: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#button-close-delete-card > img {
    width: 100%;
}

#btn-confirm-delete-card {
    margin-top: 40%;
    width: 60%;
    font-size: 20px;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}

#btn-confirm-delete-card:hover {
    cursor: pointer;
}